.App {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #f0f0f0;
  width: 250px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  padding: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin-bottom: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  color: #007BFF;
}

.content {
  flex-grow: 1;
  padding: 20px;
}


.active {
  color: rgb(6, 184, 244); 
  font-weight: bold;
}